<div class="skv-box-link" data-js-box-link>
  {{#eq layout 'imageLink' }}
    <div class="skv-box-link__image" style="background-image: url('{{ ../image.src }}');"></div>
  {{else}}
    <div class="skv-box-link__image skv-box-link__image--pattern skv-box-link__image--pattern-{{ ../pattern }} skv-box-link__image--color-{{ ../color }}"></div>
  {{/eq}}
  <div class="skv-box-link__content{{#eq layout 'textLink' }} skv-box-link__content--center{{/eq}}">
    <h2 class="skv-box-link__headline">
      <a class="skv-box-link__headline-link{{#eq layout 'imageLink' }} skv-box-link__headline-link--boxed{{/eq}}" href="{{ url }}" data-js-box-link-headline-link>
        {{ headline }}
        {{#eq linkType 'external' }}
          {{> @icon name='external' inline=true }}
        {{ else }}
          {{> @icon name='chevron-right' middle=true }}
        {{/eq}}
      </a>
    </h2>
    {{#if teaser}}
    {{#eq layout 'textLink' }}
      <p class="skv-box-link__teaser">{{{ ../teaser }}}</p>
    {{/eq}}
    {{/if}}
  </div>
</div>
