<div class="container--header">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-10 col-lg-8">
        <h2 class="h2 margin-tp-reset">{{title}}</h2>
        <p class="text-large">{{ingress}}</p>
      </div>
    </div>
    {{ render '@box-link-container' }}
    <div class="skv-section--small skv-section--last">
      {{ render '@link-list--outlined' linkList merge=true }}
    </div>
  </div>
</div>
<div class="container container--no-padding">
  <div class="skv-box skv-box--no-padding">
    {{ render '@content-navigation' contentNav }}
    <div class="skv-section skv-section--last">
      {{ render '@card-container' }}
    </div>
  </div>
</div>
