<div class="skv-toc">
  {{#if title }}
  <h3 class="skv-toc__title">{{ title }}</h3>
  {{/if}}
  <ul class="skv-toc__list">
    {{#each pages}}
    <li tabindex="1" class="skv-toc__list-item">
      {{#if this.active}} {{ this.title }} {{else}}
      <a class="skv-toc__list-item-link text-small" href="{{ this.url }}">{{
        this.title
      }}</a>
      {{/if}}
    </li>
    {{/each}}
  </ul>
</div>
