<div class="container--header">
  <div class="container">
    {{ render '@medium-card-container' }}
    <div class="skv-segment skv-segment--small skv-segment--last">
      {{ render '@link-list' }}
    </div>
  </div>
</div>
<div class="container container--no-padding">
  <div class="skv-box skv-box--no-padding">
    {{ render '@target-group-links' }}
    {{ render '@small-card-container' }}
    <div class="skv-section skv-section--boxed">
      {{ render '@news-list' news merge=true }}
    </div>
  </div>
</div>