<ul class="skv-card-container">
  <li class="skv-card-container__item">
    {{ render '@card' }}
  </li>
  <li class="skv-card-container__item">
    {{ render '@card--image' }}
  </li>
  <li class="skv-card-container__item">
    {{ render '@card--with-graphics-charts' }}
  </li>
  <li class="skv-card-container__item">
    {{ render '@card--with-graphics-computer' }}
  </li>
  <li class="skv-card-container__item">
    {{ render '@card--with-graphics-calendar' }}
  </li>
  <li class="skv-card-container__item">
    {{ render '@card' }}
  </li>
</ul>
