<ul class="skv-card-container">
  <li class="skv-card-container__item">
    {{ render '@skv-card-small--standard' }}
  </li>
  <li class="skv-card-container__item">
    {{ render '@skv-card-small--image' }}
  </li>
  <li class="skv-card-container__item">
    {{ render '@skv-card-small--with-graphics-charts' }}
  </li>
  <li class="skv-card-container__item">
    {{ render '@skv-card-small--with-graphics-computer' }}
  </li>
  <li class="skv-card-container__item">
    {{ render '@skv-card-small--with-graphics-calendar' }}
  </li>
  <li class="skv-card-container__item">
    {{ render '@skv-card-small--standard' }}
  </li>
</ul>
