<!DOCTYPE html>
<html lang="{{ lang }}">
  <head>
    {{ render '@head' }}
    {{ render '@favicon' }}
  </head>
  <body class="Body--blue">
    {{ render '@inline-svg' }} {{ render '@header' }} {{{ yield }}}
    {{ render '@footer' }}
    <script async defer src="/styleguide/js/main.min.js"></script>
  </body>
</html>
