<!DOCTYPE html>
<html lang="{{ lang }}">
  <head>
    {{ render '@head' }}
    {{ render '@favicon' }}
  </head>

  <body class="Body--blue show-focus-outlines">
    {{ render '@inline-svg' }}
    {{#if globalBanner}}
      {{ render '@banner' globalBanner merge=true }}
    {{/if}}
    {{ render '@header' }}
    {{{ yield }}}
    {{ render '@footer' }}
    <script async defer src="/styleguide/js/main.min.js"></script>
  </body>
</html>
